# Binaries
build/
workflower
workflower-linux
*.exe

# Environment files
.env
.deploy.env

# Uploads
uploads/


# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Go
vendor/

# Air (hot reload)
tmp/

